

.lyrics {
    // background-color: red;
    .lyric-line {
        h3 {
            text-align: center;
            background-color: red;
        }
    }
    h2 {
        text-transform: uppercase;
        cursor: pointer;
        transition: .3s;
    }
    h2:hover {
        opacity: .4;
    }
    button {
        border: 5px solid black;
    }
    &__wrapper {
        h2 {
            font-size: 8.5vw;
            padding: 6px 0;
            @media(max-width: 550px){
                font-size: 5.5vw;
                padding: 9px 0;
            }
        }

    }

}